<h1>LOGIN</h1>

<h3><%= flash[:notice] %></h3>

<%= form_tag sessions_path do %>
  <h4><%= label_tag "Username" %></h4>
  <%= text_field_tag :user_name %>
  <br>
  <h4><%= label_tag "Password" %></h4>
  <%= password_field_tag :password %>
  <br> <br>
  <%= submit_tag "Sign In" %>
<% end %>
