<h1>LOGIN</h1>

<h3><%= flash[:notice] %></h3>

<%= form_tag sessions_path do %>
  <%= label_tag "Username" %>
  <%= text_field_tag :user_name %>
  <%= label_tag "Password" %>
  <%= text_field_tag :password %>
  <%= submit_tag "Sign In" %>
<% end %>
