<div class="container-fluid">
<h1>Add a Share to My Account</h1>
</div>

<div class="container-fluid">
<%= form_for @share do |f| %>
  <h3><%= f.label "Share Category" %></h3>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :farm_id, :value => Farm.first.id %>
<br><br>
  <%= f.submit %>
  <br><br>
<% end %>
</div>

<div class="container-fluid">
  <%= button_to "Return to Profile", profile_path, :controller => "users", :method => :get %>
</div>
