<div class="page-header"><h1>CREATE AN ACCOUNT<small>   Or Click to <%= link_to "Sign In", login_path %></small></h1></div>

<div class="container-fluid"><h3><%= flash[:notice] %></h3></div>
<div class="container-fluid">
  <%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <h3><%= message %></h3>
    <% end %>
  <% end %>

  <h4><%= f.label "Username" %></h4>
  <%= f.text_field :user_name %>
  <br>
  <h4><%= f.label :password %></h4>
  <%= f.password_field :password %>
  <br> <br>
  <%= f.submit %>
</div>

<% end %>
<br>

<div class="container-fluid"><%= image_tag("cow_in_pasture.jpg", :alt => "Cow in Pasture", :height => 500) %>
