<div><h1>CREATE AN ACCOUNT</h1></div>

<div><h3><%= flash[:notice] %></h3></div>
<div>
  <%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <h3><%= message %></h3>
    <% end %>
  <% end %>
  <h4><%= f.label "Username" %></h4>
  <%= f.text_field :user_name %>
  <br>
  <h4><%= f.label :password %></h4>
  <%= f.password_field :password %>
  <br> <br>
  <%= f.submit %>
</div>
<% end %>
