<h1><%= @user.name %>'s Home Page</h1>

  <% if @user.categories.uniq == @user.categories %>
    <% @user.categories.each do |category| %>
        <h3><%= category.name %></h3>
        <li>Number of Shares Purchased: 1</li>
        <li>Price Per Pickup: $<%= category.price_per_pickup %></li>
        <li>Total Number of Pickups: <%= category.pickup_count %></li>
        <li>Total Price: $<%= category.price_per_pickup * category.pickup_count %></li>
      <% end %>
  <% else %>
    <% @user.categories.uniq.each do |category| %>
      <h3><%= category.name %></h3>
      <li>Number of Shares Purchased: UPDATE ME </li>
      <li>Price Per Pickup: $<%= category.price_per_pickup %></li>
      <li>Total Number of Pickups: <%= category.pickup_count %></li>
      <li>Total Price: $<%= category.price_per_pickup * category.pickup_count %></li>
    <% end %>
  <% end %>

<!--
Number of Pickups: <%# share.category.pickup_count %>
Cost of Each Pickup: <%# share.category.price_per_pickup %> -->


  <h3>My Wish List for the <%= Time.now.year %> Growing Season:</h3>
  <ul>
    <% @user.wish_list_items.each do |item| %>
      <li> <%= item.item %></li>
    <% end %>
  </ul>

  <!-- <h4><%#= link_to "My Produce Wish List", new_wish_list_item_path %></h4> -->



  <!-- Like to have:
  validate for FULL name
  vaildate user_name: uniqueness, length
  validate email input type -->
