<h1><%= @user.user_name %>'s Home Page</h1>
  <% @user.categories.each do |category| %>
    <h3><%= link_to category.name, category %></h3>
  <% end %>

<h3><%= link_to "View All Available Share Categories", categories_path %></h3>
<h3><%= link_to "Add a Share to My Account", new_share_path %></h3>


  <h3>My Wish List for the <%= Time.now.year %> Growing Season:</h3>
    <% @user.wish_list_items.each do |item| %>
      <li> <%= item.item %></li>
    <% end %>
