<div class="jumbotron">
  <h1>Welcome to the <%= Farm.first.name %> CSA!</h1>
  <p>Learn more about our program <%= link_to "here", farm_path(Farm.first.id) %>.</p>
</div>

<div class="container-fluid">>
  <h2> <%=flash[:notice]  %></h2>
</div>

<div class="container-fluid"><%= image_tag("veggie_basket.jpg", :alt => "Basket of Veggies", :height => 750) %>
</div>
<br>
<div class="container-fluid">
  <h1>Shares Purchased for the <%= Time.now.year %> Growing Season</h1>
</div>

  <div class="container-fluid">
  <% @user.categories.each do |category| %>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <h3><%= category.name %> </h3>
        <ul class="list-group">
          <li class="list-group-item">Numbers of Pickups: <%= category.pickup_count %></li>
          <li class="list-group-item">Total Cost for the Season: <%= category.price_per_pickup * category.pickup_count %></li>
        </ul>
        <%= button_to "View Full Details", category, :controller => "categories", :method => :get %> <br>
      </div>
    </div>
  <% end %>
</div>

<div class="container-fluid">
  <%= button_to "View All of our Offerings", categories_path, :controller => "categories", :method => :get %> <br>
  <%= button_to "Add a Share to My Account", new_share_path, :controller => "shares", :method => :get %>
</div>

<div class="container-fluid">
  <h1>My Wish List for the <%= Time.now.year %> Growing Season</h1>
</div>

<div class="container-fluid">
  <% @user.wish_list_items.each do |item| %>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <ul class="list-group">
        <li class="list-group-item"> <%= item.item %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<div class="container-fluid">
    <%= button_to "Add an Item to My Wish List", wish_list_items_path, :controller => "wish_list_items", :method => :get %>
</div>
<br>
