<h2>All Available Share Types </h2>

<%= link_to "View our Farm's Details", farms_path %>
<% @categories.each do |category| %>
  <h3><%= link_to category.name, category %></h3>
  <li>Total Number of Pickups: <%= category.pickup_count %></li>
  <li>Price Per Pickup: $<%= category.price_per_pickup %></li>
  <li>Total Price for Season: $<%= category.price_per_pickup * category.pickup_count%></li>
  <li>First Pickup Date: <%= category.start_date %></li>
  <li>Last Pickup Date: <%= category.end_date %></li>
  <% if category.name =~ /Full/ %>
    <li>Pickup Frequency: Weekly</li>
  <% else %>
    <li>Pickup Frequency: Every Other Week</li>
  <% end %>
<% end %>
