<!DOCTYPE html>
<html>
  <head>
    <title>Csa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h3>Welcome, <%= current_user.user_name %></h3>
      <%= button_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= button_to "Sign Up", new_user_path, method: :get %>
      <%= button_to "Login", login_path, method: :get %>
    <% end %>
    <%= yield %>
  </body>
</html>
