<!DOCTYPE html>
<html>
  <head>
    <title>CSA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>

  <body>


    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- <div class="navbar-header"> -->
        <% if logged_in? %>
          <div>
            <p class="navbarleft navbar-text">Welcome, <%= current_user.user_name %></p>
          </div>
          <div>
            <li class="navbarstyling"><%= button_to "Profile", profile_path, method: :get %></li>
          </div>
          <div>
            <li class="navbarstyling"><%= button_to "Logout", logout_path, method: :delete %></li>
          </div>
        <% else %>
          <div>
            <p class="navbarleft navbar-text">So long!</p>
          </div>
          <div>
            <li class="navbarstyling"><%= button_to "Sign Up", new_user_path, method: :get %></li>
          </div>
          <div>
            <li class="navbarstyling"><%= button_to "Login", login_path, method: :get %></li>
          </div>
        <% end %>
        <!-- </div> -->
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
